<configuration debug="false">
    <conversionRule conversionWord="clr" converterClass="obsidian.server.util.LogbackColorConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){gray} %clr([%35.-35thread]){magenta} %clr(%-35.35logger{39}){cyan} %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
